:root {
  	--color-green: #009650;
	--color-yellow: #cddc00;
	--color-font: #4d4d4d;
	--color-bg: #ededed;

	font-family: sans-serif;
	line-height: 1.15;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  }

body {
	background-color: #dfdfdf;
	margin: 0;

	a {
		text-decoration: none
	}

	a:visited {
		color: var(--color-bg);
	}

	a:hover {
		color: #cddc00
	}

	h1 {
		margin-left: 10px;
	}
}



